body {
  font-family: $avenir-book;
  font-weight: 400;
  color: $umblue;
  font-size: 100%;
}

.h1 { font-family: $avenir-book;   font-size: 2rem; color: $umblue;    }
.h2 { font-family: $avenir-medium; font-size: 1.6rem; color: $umblue;  }
.h3 { font-family: $avenir-medium; font-size: 1.25rem; color: $umblue; }
.h4 { font-family: $avenir-medium; font-size: 1.1rem; color: $umblue; }
.p {
  font-size: 1rem;
  font-family: $avenir-book;
  line-height: 1.6rem;
  margin-block-end: 1em;
  color: inherit;
}
.h1, .h2, .h3, .h4, .p { font-weight: normal; }

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
p  { @extend .p;  }

.small-text {
    font-size: .9rem;
    line-height: 1.2rem;
}


p {
  a:not(.btn),
  a:visited:not(.btn) {
    color: $link-color;
    font: inherit;
    font-weight: inherit;
    text-decoration: underline;

    @include transition(all 0.1s linear 0s);

    &:hover,
    &:focus {
      color: $link-hover;
      text-decoration: underline;
    }
  }
}

a:not(.btn),
a:visited:not(.btn) {
  color: $link-color;
  font: inherit;
  text-decoration: underline;

  @include transition(all 0.1s linear 0s);

  &:hover,
  &:focus {
    color: $link-hover;
    text-decoration: underline;
  }

  &:disabled,
  &.is-disabled,
  &.disabled {
    @extend %ui-disabled;

    opacity: 0.5;
    cursor: not-allowed;
  }
}
