@import '_palette.scss';
@import '_functions.scss';

// main variable overrides
$black: $umblue;
// $white: $stanford-white;
$gray: $darkgray;
$yellow: $maize;
// $red: $bright-red;
// $green: $mint;
$blue: $umblue;
// $orange: $sun;

// Colors - Bootstrap
$primary:       $umblue;
$secondary:     $slate-dark;
// $inverse:       tinted($light-sage, 60%);
// $disabled:      $stone;
// $success:       $mint;
// $info:          $sky;
// $warning:       $sun;
// $danger:        $bright-red;
// $purchase:      $mint;
// $lightest:      $fog;
// $light:         shaded($fog, 25%);
$dark:          $umblue;
$darker:        $umblue;
$darkest:       $umblue;
// $status:        $redwood;

@import '_derived.scss';
