## mako

<%namespace name='static' file='/static_content.html'/>


<span class="campus-buildings"></span>
<footer class="m-footer">
  <p>Find more online learning experiences at <a href="https://online.umich.edu/">Michigan Online</a></p>
  <img class="m-footer-logo" src="${static.url('images/mogc-logo--stacked-white.png')}" alt="Michigan Online Global Classroom">
  <p class="m-footer-text--small">Powered by The Center for Academic Innovation</p>
  <p class="m-footer-text--small">
    <span>Copyright &copy; 2020 The Regents of the University of Michigan</span> |
  </p>
</footer>
